/**********************************************************/
/******************* Generic ******************************/
/**********************************************************/

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@media print {
	div.do-not-print {
		display: none;
	}
}

@media print {
	width: 90%;
}

@media screen and (max-width: 640px) {
	.right  {
		display: none;
	}
}

/**********************************************************/
/******************* Navigation ***************************/
/**********************************************************/
.tab-bar {
	background-color: #2b2f3e;
}

.tab-bar h1 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #2B2F3E;
	color: white;
}

.tab-bar-section.right {
	text-align: right;
}

.left-off-canvas-menu {
	background-color: #2B2F3E;
}

ul.off-canvas-list li, ul.off-canvas-list li a, ul.off-canvas-list li:hover {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #2B2F3E;
	color: white;
	border: 0px;
}


ul.off-canvas-list li label {
	padding: 15px 0px 0px 10px;
	background-color: #B22222;
	height: 60px;
	color: white;
	font-size: 20px;
	border: 0px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

ul.off-canvas-list li a:hover {
    background: #B22222; !important;
}

.tab-bar .menu-icon span::after {
	box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
}

.left-small {
	border: none;
}


.fi-social-facebook, 
.fi-social-twitter, 
.fi-social-linkedin, 
.fi-social-instagram, 
.fi-social-github, 
.fi-social-youtube {
	color: white;
	margin-right: 5px;
}
.menu-profile {
	margin:			30px 0px 25px 0px;
}

.menu-profile img {
	border: 		3px solid white;
	border-radius:  200px;
	display: 		block;
	height:			128px;
	margin: 		0 auto;
	width:			128px;
}

.menu-profile h1 {
	color: 			white;
	font-family: 	'Lato', Helvetica, Arial, sans-serif;
	font-size: 		3vh;
	font-weight: 	300;
	letter-spacing: 2px;
	margin-top:		30px;
	text-transform: uppercase;
}

.menu-profile p {
	color: 			white;
}


/**********************************************************/
/********************** Header ****************************/
/**********************************************************/
.header {
	height: 300px;
	padding-top: 75px;
	/*background-color: #4A641F;*/
	background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),url("../img/background/header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*padding: 14em 0 14em 0;*/
}

.header h1, .header h2 {

	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}
/**********************************************************/
/******************* Skills *******************************/
/**********************************************************/
.skills {
	border: 1px solid #f7f4ef;
	text-align: center;
	padding: 30px 0px 30px 0px;
}

.skills a { 
	color: black; 
	transition:color 1s ease; 
}

.skills a:hover { 
	color: red; 
}
/**********************************************************/
/******************* Photography Page *********************/
/**********************************************************/
.photo-grid {
	margin: 20px 20px 0px 20px;
}

.photo-grid-title {
	margin-left: -15px;
}

.photo-grid-title h2 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.photo-grid img {
	border: 2px solid black;
	width: 100%;
	max-width: 100%;
	height: auto;
}








/* Icons */
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }


/* Footer */
.footer .fi-social-facebook, .footer .fi-social-twitter, 
.footer .fi-social-linkedin, .footer .fi-social-instagram, 
.footer .fi-social-github, .footer .fi-social-youtube {
	margin: 0px 5px;
	color: white;
}

.footer .fi-social-facebook:hover, .footer .fi-social-twitter:hover, 
.footer .fi-social-linkedin:hover, .footer .fi-social-instagram:hover, 
.footer .fi-social-github:hover, .footer .fi-social-youtube:hover {
	color: white;
}

.clearing-assembled {
	padding: 0px 15px;
}

.footer ul {
	margin-bottom: 0;
	text-align: center;
}

.footer {
	background-color: #2B2F3E;
}


/**********************************************************/
/******************* Index Page ***************************/
/**********************************************************/
.webdesign, .photography, .contact, .about {
	padding: 5px 0px 10px 0px;
	border-bottom: 1px solid #f7f4ef;
	/*border-top: 1px solid #f7f4ef;*/
}

.webdesign h2, .photography h2, .contact h2, .about h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0px;
}

.webdesign-th {
	padding: 0px 15px;
}

.webdesign img, .photography img {
min-height: 250px;
 width: 100%;
 overflow: hidden;
	border: 2px solid black;
	display: hidden;
}

.webdesign img:hover .desc, .photography img:hover .desc {
	display: block;
}

/* About */
.about p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.about img {
	border-radius: 500px;
}

/* Photo/Web Design Button */
.more-button {
	padding-top:	15px;
	text-align: 	center;
}


/**********************************************************/
/********************** Web Design Page *******************/
/**********************************************************/
.dma-press {
	border-top: 1px solid #f7f4ef;
}

.kics-document {
	border-top: 1px solid #f7f4ef;
	border-bottom: 1px solid #f7f4ef;
}

.htmiij {
	border-bottom: 1px solid #f7f4ef;
}

.head-image img {
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #333333;
}

.img-thumbs img {
	margin: 0px -15px 0px 15px;
	border: 1px solid #333333;
}

.dma-press h2, .kics-document h2, .htmiij h2 {
	margin: 25px 0px 25px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
	color: black;
}

.dma-press p, .kics-document p. .htmiij p {
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
	color: black;
}

.img-thumbs ul li img:hover {
	cursor: pointer;
}

.site-link-button {
	text-align: center;
}

/**********************************************************/
/********************** Resume Page ***********************/
/**********************************************************/

/* General */
.resume {
	margin-bottom: 20px;
}

.resume-picture {
	position: relative;
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('http://i.imgur.com/HTVMAXV.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 2em 0 2em 0;
}

/* Images */
.resume-picture img {
	border-radius: 10px;
	border: 2px solid white;
	position: relative;
  	left: 50%;
	transform: translate(-50%, 0%);
}

/* Fonts */
.resume-name h1 {
	margin-top: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif; 
	font-weight: 700; 
}

.resume-name h2 {
	padding: 0px 10px 0px 10px;
	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
}

.resume-section-header h3 {
	margin-top: 20px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif; 
	font-weight: 700; 
}

.resume-name .disclaimer  {
	font-size: 6px;
	text-align: center;
}

.resume-header h5, h4, p, .resume-desc p {
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
}
.resume-header strong {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

/* Borders */
.resume-section-header, .resume-name {border-bottom: 1px solid #f7f4ef;}

/* Margins & Padding */
.resume-section-header {margin: 0px 15px 0px 15px;}
.resume-desc ul {padding-left: 30px;}