<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Generic -->
		<title>Mike Reddy | Photography</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Mike Reddy's Portfolio" />
		<meta name="keywords" content="Mike Reddy, web design, web development" />

		<!-- CSS -->
	 	<link rel="stylesheet" href="css/foundation.min.css" />
		<link rel="stylesheet" href="css/foundation-icons/foundation-icons.css" />
		<!-- <link rel="stylesheet" href="css/stylesheet.css" /> -->
		<!-- <link href="css/lightbox.css" rel="stylesheet" /> -->

		<!-- JS -->
		<script type="text/javascript" src="js/vendor/modernizr.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="js/ui-bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>

		<!-- Fav Icon -->

		<!-- Fonts -->

		<style>
.lightbox-nav {
  position: relative;
  margin-bottom: 12px; /* the font-size of .btn-xs */
  height: 22px;
  text-align: center;
  font-size: 0; /* prevent the otherwise inherited font-size and line-height from adding extra space to the bottom of this div */
}

.lightbox-nav .btn-group {
  vertical-align: top;
}

.lightbox-nav .close {
  /* absolutely position this in order to center the nav buttons */
  position: absolute;
  top: 0;
  right: 0;
}

.lightbox-image-container {
  position: relative;
  text-align: center; /* center the image */
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: rgba(255, 255, 255, 0.75);
  /* pad the left and right of each line of text */
  box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
    -0.4em 0 0 rgba(255, 255, 255, 0.75);
}

</style>

	</head>

	<body ng-app="Portfolio">

		<!-- Navigation -->
			<div class="off-canvas-wrap" data-offcanvas>
		    <div class="inner-wrap">

					<nav class="tab-bar">
						<section class="left-small">
					        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
					    </section>

						<section class="middle tab-bar-section">
			        <h1 class="title">Mike Reddy</h1>
					  </section>

						<section class="right tab-bar-section">

							<a href="https://www.facebook.com/howtomakeitinjapan"><i class="fi-social-facebook size-36"></i></a>
							<a href="https://www.twitter.com/mrmikereddy"><i class="fi-social-twitter size-36"></i></a>
							<a href="https://www.linkedin.com/profile/view?id=304301628"><i class="fi-social-linkedin size-36"></i></a>
							<a href="https://instagram.com/mikereddy/"><i class="fi-social-instagram size-36"></i></a>
							<a href="https://github.com/mikereddy/"><i class="fi-social-github size-36"></i></a>
							<a href="https://www.youtube.com/channel/UCNXrzaO_3COA6JJhh-Jwcdg"><i class="fi-social-youtube size-36"></i></a>

						</section>
					</nav>

					<!-- Off Canvas Menu -->
					<aside class="left-off-canvas-menu">
		        <ul class="off-canvas-list">

			        <!-- Profile -->
			        <div class="menu-profile">
				        <img src="img/profile/mike.jpg"/>
				        <h1 class="text-center">Mike Reddy</h1>
				        <p class="text-center">Tokyo, Japan</p>
				    	</div>

		        	<!-- Site Navigation -->
		        	<li><label>Menu</label></li>
			        	<li><a href="index.html">Home</a></li>
			        	<li><a href="about.html">About</a></li>
			        	<li><a href="webdesign.html">Portfolio</a></li>
			        	<li><a href="photos.html">Photography</a></li>
			        	<li><a href="resume.html">Resume</a></li>

			        <!-- Social Media -->
		        	<li><label>Social Media</label></li>
				       	<li><a href="https://www.facebook.com/howtomakeitinjapan">Facebook</a></li>
				        <li><a href="https://www.twitter.com/mrmikereddy">Twitter</a></li>
								<li><a href="https://www.linkedin.com/profile/view?id=304301628">Linked In</a></li>
								<li><a href="https://instagram.com/mikereddy/">Instagram</a></li>
								<li><a href="https://github.com/mikereddy/">GitHub</a></li>
								<li><a href="https://www.youtube.com/channel/UCNXrzaO_3COA6JJhh-Jwcdg">YouTube</a></li>

		        </ul>
					</aside>

					<!-- Main Section -->
					<section class="main-section">

						<!-- Photography -->
						<div class="photo-grid" ng-controller="PhotoController">

							<!-- Minato Mirai -->
							<div class="photo-grid-title">
								<div class="small-12 columns">
										<a name="minato-mirai"><h2>Minato Mirai - みなとみらい</h2></a>
										<p class="text-center">Located just 30 minutes from Tokyo, the Minato Mirai area is one of my favorite day trip locations.</p>
								</div>
							
<ul ng-controller="GalleryCtrl">
  <li ng-repeat="image in images">
    <a ng-click="openLightboxModal($index)">
      <img ng-src="{{image.small}}" class="img-thumbnail">
    </a>
  </li>
</ul>

							</div>				

							<!-- Enoshima -->
							<div class="photo-grid-title">
								<div class="small-12 columns">
									<a name="enoshima"><h2>Enoshima - 江ノ島</h2></a>
									<p class="text-center">One of the closest beach areas to Tokyo, Enoshima provides scenic views and a tropical feel.</p>
								</div>

								<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" >
									<li ng-repeat="enoshima in enoshima">
										<a href="{{enoshima.large}" ng-click="data-lightbox="enoshima"" data-title="Enoshima">
											<img src="{{enoshima.small}}" />
										</a>
									</li>
								</ul>
							</div>

							<!-- Showa Kinen Kouen -->
							<div class="photo-grid-title">
								<div class="small-12 columns">
									<a name="tachikawa"><h2>Showa Kinen Park - 昭和記念公園 </h2></a>
									<p class="text-center">Located in Tachikawa, Tokyo, Showa Kinen Park offers beautiful displays of foliage in the fall.</p>
								</div>

								<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" >
									<li ng-repeat="tachikawa in tachikawa">
										<a href="{{tachikawa.large}" data-lightbox="tachikawa" data-title="tachikawa">
											<img src="{{tachikawa.small}}" />
										</a>
									</li>
								</ul>
							</div>

							<!-- Illumination -->
							<div class="photo-grid-title">
								<div class="small-12 columns">
									<a name="illumination"><h2>Illumination - イルミネーション</h2></a>
									<p class="text-center">Despite the cold, dry weather, Tokyo really comes to life in the winter with lights scattered throughout the city, illuminating the night and attracting swarms of people to take pictures.</p>
								</div>

								<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" >
									<li ng-repeat="illumination in illumination">
										<a href="{{illumination.large}" data-lightbox="illumination" data-title="Illumination">
											<img src="{{illumination.small}}" />
										</a>
									</li>
								</ul>
							</div>
							
						</div>

						<!-- Footer -->
						<div class="footer">
								<div class="row">
									<div class="small-12 columns">
										<ul class="no-bullet">
											<a href="https://www.facebook.com/howtomakeitinjapan"><i class="fi-social-facebook size-48"></i></a>
											<a href="https://www.twitter.com/mrmikereddy"><i class="fi-social-twitter size-48"></i></a>
											<a href="https://www.linkedin.com/profile/view?id=304301628"><i class="fi-social-linkedin size-48"></i></a>
											<a href="https://instagram.com/mikereddy/"><i class="fi-social-instagram size-48"></i></a>
											<a href="https://github.com/mikereddy/"><i class="fi-social-github size-48"></i></a>
											<a href="https://www.youtube.com/channel/UCNXrzaO_3COA6JJhh-Jwcdg"><i class="fi-social-youtube size-48"></i></a>
										</ul>
									</div>
								</div>
						</div>

					</section>

					<a class="exit-off-canvas"></a>
				</div>
			</div>

	    <!-- Modules -->
	    <script src="js/app.js"></script>

	    <!-- Controllers -->
	    <script src="js/PhotoController.js"></script>

			<!-- JS -->
			<script type="text/javascript" src="js/foundation.min.js"></script>
			<script type="text/javascript" src="js/foundation/foundation.offcanvas.js"></script>
			<script src="js/foundation/foundation.clearing.js"></script>

			<script>
				$(document).foundation();
			</script>

			<script>
				$(document).foundation({
				  offcanvas : {
				    open_method: 'move', 
				    close_on_click : true
				  }
				});
			</script>
			
			<script>
				$(document).ready(function() {
				    $("body").css("display", "none");
				    $("body").fadeIn(1000);
				});
			</script>

	</body>

</html>